:root {
  --purple-500: #2d1c3d;
  --purple-300: #663399;
  --purple-100: #947aad;
  --gray-300: #c1c1c1;
  --gray-100: #f5f3f2;
  --white: #ffffff;
  --bg: #947aad44;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}